
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    display: flex;
    flex-flow: column nowrap;
}
ul{
    background-color: #0e0e7e;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
li{
    margin: 10px;
    list-style-type: none;
    background-color: darkgoldenrod;
    flex-basis: 200px;
    border-radius: 5px;

}
li.home{
    flex-shrink: 2;
    flex-grow: 2;
}
a{
    color: white;
}