
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    background-color: #19197b;
    height: 150px;
}
h1{
    padding-top: 20px;
    font-size: 2em;
    color: white;
    font-weight: normal;
    flex: 0 0 100px;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    padding-bottom: 20px;
}
header>nav>a{
    margin: 10px;
    font-size: 1.5em;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
   
}
header>nav>a:hover{
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: darkgoldenrod;
    color: white;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    align-content: end;
}



