
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    display: flex;
    flex-flow: column nowrap;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 2.5em;
    color: white;
    font-weight: normal;
}
ul{
    background-color: #0e0e7e;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
li{
    margin: 10px;
    list-style-type: none;
    background-color: darkgoldenrod;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
li:hover{
    background-color: #0e0ef8;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0000009e;
}
li#home{
    flex: 3 2 auto;
}
li#source{
   
    flex: 3  2 auto;
}
li#news{
    flex: 3 2 auto;
}
li#about{
    flex: 3 2 auto;
}
a.row{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    
    
}