@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main#container{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 15px;
    grid-template-columns: 20%  20%  20%  20%;
    align-items: center;
    justify-content: center;
    gap: 0px 15px;
    

   
}
main > div{
    background-color: black;
    border: 2px solid red;
    color: yellow;
}
div#one{
    
    
}