@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000000cf;
}

.container{
    background-color: goldenrod;
    padding: 5px;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:'header header header '
    'section section aside'
    'article article aside'
     'footer footer footer ';
     gap: 5px;
     
   
}
/*Configuaração do nosso modelo de área*/
header{
    grid-area: header;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    grid-column: 1/4;
}
aside{
    grid-area: aside;
    background-color: #070764;
    border: 2px solid black;
    padding: 10px;
    grid-column: 3/4;
}
section{
    grid-area: section;
    background-color: #008000;
    border: 2px solid black;
    padding: 10px;
    grid-column: 1/3;
}
article{
    grid-area: article;
    background-color: #800080;
    border: 2px solid black;
    padding: 20px;
    grid-column: 1/3;
    
    
}
footer{
    grid-area: footer;
    background-color:#910e0e;
    border: 2px solid black;
    padding: 10px;
}