@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.container{
    background-color: goldenrod;
    border: 1px solid white;
    padding: 20px;
    display: grid;
}
.container > child{

}