
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #008b8b;
    background-attachment: fixed;
}
main{
    background-color: #e0a309;
    width: 100vw;
    height: 100vh;
}
section{
    background-color: white;
    width: 450px;
    height: 450px;
}