
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #008b8b;
    background-attachment: fixed;
}
main{
    background-color: #e0a309;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}
section{
    background-color: white;
    width: 450px;
    height: 450px;
    
    border-top-right-radius:30px ;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 1px 2px #00000089
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    font-style: italic;
}
